.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: -webkit-fill-available;
  padding: 1rem;
  background: var(--background-color-account);
}
